.login-view {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Montserrat', sans-serif;
}

#login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 360px;
}

.grey-logo {
  margin-bottom: 30px;
  display: none;
}

.title-h1 {
  margin-top: 29px;
}

span {
  color: #4C5980;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 50px;
  font-weight: 400;
  text-align: center;
}

.text-fields {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.eye-password {
  position: absolute;
  width: 22px;
  margin-left: 214px;
  margin-top: 115px;
}

.label-input {
  color: #323133;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-left: 6px;
}

.button-login-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter {
  margin-bottom: 10px;
}

.forgot-password {
  color: #4C5980;
  font-size: 10px
}

.sign-up {
  margin-bottom: 56px;
}

#background-logo {
  min-width: 360px;
}

@media (min-width: 370px) {
  #login-content {
    height: 70vh;
  }

  #background-logo {
    height: 30vh;
  }
}

@media (min-width: 1292px) {
  .login-view {
    flex-direction: row;
    align-items: center;
  }

  #login-content {
    width: 530px;
    height: 100vh;
  }

  .grey-logo {
    display: block;
  }

  .title-h1 {
    margin-top: 20px;
  }

  span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 45px;
  }

  .text-fields {
    margin-top: 20px;
  }

  .eye-password {
    margin-left: 274px;
    margin-top: 122px;
  }

  .label-input {
    line-height: 24px;
    margin-left: 8px;
  }

  .sign-up {
    margin-bottom: 0px;
  }

  .enter {
    margin-top: 15px;
  }

  .forgot-password {
    font-size: 12px
  }

  #background-logo {
    height: 100vh;
  }

  .background-image {
    height: 100vh;
  }
}

@media (min-width: 1920px) {
  .grey-logo {
    margin-bottom: 30px;
  }

  span {
    padding: 0 100px;
    margin-bottom: 30px;
  }

  .forgot-password {
    margin-top: 10px;
  }

  .background-image {
    height: 980px;
  }
}